In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("results/optuna_phase3_results/varibad_phase3_1755581439_all_trials.csv")

In [5]:
df.head()

,trial_number,state,value,datetime_start,datetime_complete,duration,param_seq_len,param_max_episodes,param_early_stopping_patience,param_early_stopping_min_delta,param_val_interval
0,0,COMPLETE,37.615324,2025-08-19 05:30:39.063942,2025-08-19 08:19:27.756218,10128.692276,200,2000,5,0.001,500
1,1,COMPLETE,19.659685,2025-08-19 05:30:39.066474,2025-08-19 07:43:49.869841,7990.803367,150,2000,5,0.001,200
2,2,COMPLETE,14.199942,2025-08-19 05:30:39.068159,2025-08-19 08:03:33.295458,9174.227299,150,4000,3,0.050,300
3,3,COMPLETE,24.879325,2025-08-19 05:30:39.069315,2025-08-19 10:24:54.258726,17655.189411,200,8000,5,0.050,200
4,4,COMPLETE,18.769718,2025-08-19 05:30:39.070900,2025-08-19 09:19:41.009125,13741.938225,120,6000,8,0.010,200

In [6]:
df = df["value"].sort_values(ascending=False)

In [8]:
df.head(10)

69    790.005747
9     100.726063
26     85.337497
54     76.858385
5      71.065265
38     60.168301
25     56.214108
27     47.188920
48     45.157013
56     44.777676
Name: value, dtype: float64