In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('data/sp500_rl_ready_cleaned.parquet')

In [5]:
df.shape

(264447, 54)

In [7]:
df.head()

,date,ticker,open,high,low,close,adj_close,volume,returns,log_returns,...,volatility_5d_norm,volatility_20d_norm,market_volatility_norm,volume_norm,macd_norm,macd_signal_norm,macd_histogram_norm,market_return_norm,excess_returns_norm,market_momentum_norm
1,1990-01-03 00:00:00-05:00,ABT,1.646797,1.655699,1.637896,1.649765,1.649765,6114490,0.003610,0.003603,...,0.000000,0.0,2.463896,-0.270592,-0.142456,-0.154053,0.001603,-0.425697,0.504620,0.0
2,1990-01-04 00:00:00-05:00,ABT,1.652732,1.655699,1.631962,1.646798,1.646798,6476263,-0.001798,-0.001800,...,0.000000,0.0,0.650659,-0.166299,-0.142545,-0.154050,0.001327,-0.500063,0.215238,0.0
3,1990-01-05 00:00:00-05:00,ABT,1.640863,1.643831,1.623060,1.628995,1.628995,3382484,-0.010811,-0.010869,...,0.000000,0.0,-0.197333,-1.344782,-0.143621,-0.154442,-0.000819,-1.195355,0.155380,0.0
4,1990-01-08 00:00:00-05:00,ABT,1.622432,1.640327,1.616468,1.637345,1.637345,6631308,0.005126,0.005113,...,0.000000,0.0,-0.126778,-0.123375,-0.143652,-0.154679,-0.000249,0.865993,-0.353701,0.0
5,1990-01-09 00:00:00-05:00,ABT,1.634362,1.652257,1.628398,1.631380,1.631380,6932488,-0.003643,-0.003650,...,-0.854591,0.0,0.209552,-0.042787,-0.144062,-0.154951,-0.000724,-1.294472,0.685052,0.0

In [8]:
df.columns

Index(['date', 'ticker', 'open', 'high', 'low', 'close', 'adj_close', 'volume',
       'returns', 'log_returns', 'sma_5', 'sma_20', 'sma_50', 'volatility_5d',
       'volatility_20d', 'rsi', 'bb_middle', 'bb_upper', 'bb_lower',
       'bb_position', 'macd', 'macd_signal', 'macd_histogram', 'vwap',
       'high_low_pct', 'market_return', 'market_volatility', 'excess_returns',
       'market_momentum', 'open_norm', 'high_norm', 'low_norm', 'close_norm',
       'adj_close_norm', 'sma_5_norm', 'sma_20_norm', 'sma_50_norm',
       'bb_upper_norm', 'bb_lower_norm', 'bb_middle_norm', 'vwap_norm',
       'rsi_norm', 'bb_position_norm', 'high_low_pct_norm',
       'volatility_5d_norm', 'volatility_20d_norm', 'market_volatility_norm',
       'volume_norm', 'macd_norm', 'macd_signal_norm', 'macd_histogram_norm',
       'market_return_norm', 'excess_returns_norm', 'market_momentum_norm'],
      dtype='object')

In [15]:
len(df['ticker'].unique())

30

In [16]:
# Check if data is sorted by date
print("Is sorted by date?")
print(df['date'].is_monotonic_increasing)

# Check if data is sorted by ticker then date
print("\nIs sorted by ticker then date?")
print(df.sort_values(['ticker', 'date']).equals(df))

# Check if data is sorted by date then ticker
print("\nIs sorted by date then ticker?")
print(df.sort_values(['date', 'ticker']).equals(df))

# Look at the first few rows to see the pattern
print("\nFirst 10 rows (date and ticker only):")
print(df[['date', 'ticker']].head(10))

# Check date range for first ticker vs all data
first_ticker = df['ticker'].iloc[0]
print(f"\nDate range for first ticker ({first_ticker}):")
first_ticker_data = df[df['ticker'] == first_ticker]
print(f"Min date: {first_ticker_data['date'].min()}")
print(f"Max date: {first_ticker_data['date'].max()}")
print(f"Rows: {len(first_ticker_data)}")

print(f"\nOverall date range:")
print(f"Min date: {df['date'].min()}")
print(f"Max date: {df['date'].max()}")

Is sorted by date?
False

Is sorted by ticker then date?
False

Is sorted by date then ticker?
False

First 10 rows (date and ticker only):
                        date ticker
1  1990-01-03 00:00:00-05:00    ABT
2  1990-01-04 00:00:00-05:00    ABT
3  1990-01-05 00:00:00-05:00    ABT
4  1990-01-08 00:00:00-05:00    ABT
5  1990-01-09 00:00:00-05:00    ABT
6  1990-01-10 00:00:00-05:00    ABT
7  1990-01-11 00:00:00-05:00    ABT
8  1990-01-12 00:00:00-05:00    ABT
9  1990-01-15 00:00:00-05:00    ABT
10 1990-01-16 00:00:00-05:00    ABT

Date range for first ticker (ABT):
Min date: 1990-01-03 00:00:00-05:00
Max date: 2024-12-31 00:00:00-05:00
Rows: 8816

Overall date range:
Min date: 1990-01-03 00:00:00-05:00
Max date: 2024-12-31 00:00:00-05:00

In [17]:
# Check if there are any ordering issues within each ticker
print("Checking date ordering within each ticker:")
date_issues = []
for ticker in df['ticker'].unique():
    ticker_data = df[df['ticker'] == ticker]
    if not ticker_data['date'].is_monotonic_increasing:
        date_issues.append(ticker)

if date_issues:
    print(f"Tickers with non-monotonic dates: {date_issues}")
else:
    print("All tickers have monotonic date ordering")

# Check if tickers are grouped together (but maybe not in alphabetical order)
print("\nChecking ticker grouping:")
ticker_transitions = []
current_ticker = None
for i, ticker in enumerate(df['ticker']):
    if ticker != current_ticker:
        ticker_transitions.append((i, ticker))
        current_ticker = ticker

print(f"Number of ticker transitions: {len(ticker_transitions)}")
print("First few ticker transitions:")
for i, (idx, ticker) in enumerate(ticker_transitions[:10]):
    print(f"  Row {idx}: {ticker}")

# Check if we have exactly 30 groups (one per ticker)
if len(ticker_transitions) == 30:
    print("\nâœ“ Data is grouped by ticker (30 distinct groups)")
    print("Order appears to be: ticker-grouped, with dates ascending within each ticker")
else:
    print(f"\nâš  Expected 30 ticker groups, but found {len(ticker_transitions)}")
    
# Verify the structure
print(f"\nData structure verification:")
print(f"Total rows: {len(df):,}")
print(f"Unique tickers: {df['ticker'].nunique()}")
print(f"Average rows per ticker: {len(df) / df['ticker'].nunique():.1f}")

Checking date ordering within each ticker:
All tickers have monotonic date ordering

Checking ticker grouping:
Number of ticker transitions: 30
First few ticker transitions:
  Row 0: ABT
  Row 8816: AXP
  Row 17632: BA
  Row 26448: BAC
  Row 35264: C
  Row 44080: CAT
  Row 52896: COP
  Row 61712: CVX
  Row 70528: D
  Row 79344: DD

âœ“ Data is grouped by ticker (30 distinct groups)
Order appears to be: ticker-grouped, with dates ascending within each ticker

Data structure verification:
Total rows: 264,447
Unique tickers: 30
Average rows per ticker: 8814.9